.playground-monaco {
  position: relative;
  background-color: #151518;
  border-radius: 12px;
  overflow: hidden;
}

.playground-monaco::before,
.playground-monaco::after {
  content: "";
  position: absolute;
  left: 0;
  width: 110%;
  height: 14px;
  pointer-events: none;
  z-index: 2;
}

.playground-monaco::before {
  top: 0;
  background: linear-gradient(180deg, rgba(21, 21, 24, 1) 0%, rgba(21, 21, 24, 0.6) 70%, rgba(21, 21, 24, 0) 100%);
}

.playground-monaco::after {
  bottom: 0;
  background: linear-gradient(0deg, rgba(21, 21, 24, 1) 0%, rgba(21, 21, 24, 0.6) 70%, rgba(21, 21, 24, 0) 100%);
}

.playground-monaco .monaco-editor,
.playground-monaco .monaco-editor-background,
.playground-monaco .margin,
.playground-monaco .margin-view-overlays,
.playground-monaco .decorationsOverviewRuler,
.playground-monaco .monaco-editor .margin,
.playground-monaco .monaco-editor .minimap {
  background-color: #151518 !important;
}

.playground-monaco .monaco-editor,
.playground-monaco .monaco-editor .overflow-guard {
  border-radius: 12px;
}
